Repository Philip-Walsh/www.spaghettis: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, black, isort, ruff check --fix

Update devkit to ignore coverage thresholds
  devkit/cli.py
Due: black, isort, ruff check --fix

Update failing-tests README with coverage threshold note
  failing-tests/README.md
Due: prettier --write

Fix MenuClient import path in menu page
  app/menu/page.jsx
Due: prettier --write, eslint --fix

Enhance devkit to verify build during push to catch import errors
  devkit/cli.py
Due: black, isort, ruff check --fix

Improve test coverage with new component tests and adjust coverage thresholds
  jest.config.js
  tests/components/Footer.test.jsx
  tests/components/IconTag.test.jsx
  tests/components/ProgressBar.test.jsx
  tests/components/StepIcon.test.jsx
  tests/components/Tag.test.jsx
Due: prettier --write, eslint --fix

Update Footer.jsx
  components/Footer.jsx
Due: prettier --write, eslint --fix

Update .gitignore
  .gitignore
Due: none

UI update and testing fixes
  components/PriceDisplay.jsx
  components/RamenBuilder.jsx
  components/StepControls.jsx
  components/StepNavigation.jsx
  components/StepSelector.jsx
  components/StepSelector.module.css
  components/ThemeTest.jsx
  components/ThemeToggle.jsx
  components/styles/RamenBuilder.module.css
  components/styles/main.css
  components/utils.js
  data/menuOptions.js
  styles/globals.css
  tests/__mocks__/menuOptions.js
  tests/components/PriceDisplay.test.jsx
  tests/components/RamenBuilder.test.jsx
  tests/components/StepControls.test.jsx
  tests/components/StepNavigation.test.jsx
  tests/components/StepSelector.test.jsx
  tests/components/ThemeToggle.test.jsx
Due: prettier --write, eslint --fix

UI update and testing fixes
  app/about/About.module.css
  app/about/page.jsx
  app/menu/page.jsx
  components/Nav.jsx
  components/ThemeToggle.jsx
  styles/globals.css
Due: prettier --write, eslint --fix

update about page and fix theming
  README.md
  app/about/About.module.css
  app/about/page.jsx
  components/Nav.jsx
  components/ThemeToggle.jsx
  styles/globals.css
Due: prettier --write, eslint --fix

add order functionality
  components/Cart.jsx
  components/RamenBuilder.jsx
  components/StepNavigation.jsx
  components/StepSelector.jsx
  components/styles/Cart.module.css
  components/styles/RamenBuilder.module.css
  components/styles/StepNavigation.module.css
  components/styles/main.css
  data/menuOptions.js
  jest.setup.js
  tests/components/Cart.test.jsx
  tests/components/RamenBuilder.test.jsx
Due: prettier --write, eslint --fix

add order functionality
  app/Home.module.css
  app/page.jsx
Due: prettier --write, eslint --fix

fix: update about, use semantic HTML
  README.md
  app/about/page.jsx
  components/Footer.jsx
  components/RamenBuilder.jsx
  components/footer.jsx
  components/styles/Footer.module.css
  components/styles/RamenBuilder.module.css
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

Update README.md (#2)
  README.md
Due: prettier --write

feat: add device optimization with edge functions and Amazon Q branding etc. [Built by Amazon Q]
  README.md
  app/api/device-data/route.js
  app/edge/device-optimize/page.jsx
  app/edge/page.jsx
  app/layout.jsx
  components/AmazonQAttribution.jsx
  components/AmazonQBadge.jsx
  components/AmazonQBadgeClient.jsx
  components/ClientLayout.jsx
  components/DeviceOptimized.jsx
  components/DeviceOptimizedClient.jsx
  components/EdgeFunctionDemo.jsx
  components/ErrorBoundary.jsx
  components/ErrorBoundaryWrapper.jsx
  components/Footer.jsx
  components/Nav.jsx
  components/OptimizedImage.jsx
  components/PerformanceMonitor.jsx
  components/SEO.jsx
  components/SimplePerformanceMonitor.jsx
  netlify.toml
  netlify/edge-functions/device-optimize.js
  package-lock.json
  package.json
  utils/imageUtils.js
Due: prettier --write, eslint --fix

feat: add device optimization with edge functions [Built by Amazon Q]
  .vscode/settings.json
  app/api/device-data/route.js
  app/edge/device-optimize/layout.jsx
  app/edge/device-optimize/page.jsx
  app/layout.jsx
  components/AmazonQBranding.jsx
  components/DeviceInfoPanel.jsx
  components/DeviceOptimizeClient.jsx
  components/EnhancedLoadingSpinner.jsx
  components/LoadingSpinner.jsx
  components/NavWithTheme.jsx
  components/device/DeviceCapabilities.jsx
  components/device/DeviceHero.jsx
  components/device/DeviceOptimizeClient.jsx
  components/device/EdgeRecommendations.jsx
  components/device/LoadingSpinner.jsx
  components/device/StatusIndicator.jsx
  components/device/ToastContainer.jsx
  components/device/ToastNotification.jsx
  components/device/styles/DeviceCapabilities.module.css
  components/device/styles/DeviceOptimize.module.css
  components/device/styles/EdgeRecommendations.module.css
  components/device/styles/StatusIndicator.module.css
  components/device/styles/ToastContainer.module.css
  components/device/styles/ToastNotification.module.css
  components/shared/AppProvider.jsx
  components/shared/ChatHelp.jsx
  components/shared/KeyboardShortcuts.jsx
  components/shared/styles/ChatHelp.module.css
  components/shared/styles/KeyboardShortcuts.module.css
  components/styles/DeviceOptimize.module.css
  devfile.yaml
  public/keyboard-shortcuts.md
  styles/amazonq.css
  styles/animations.css
  styles/device-page.css
  styles/device-theme.css
Due: prettier --write, eslint --fix

feat: add device optimization with edge functions and Amazon Q branding etc. [Built by Amazon Q]
  app/api/device-data/route.js
  app/edge/device-optimize/page.jsx
  app/layout.jsx
Due: prettier --write, eslint --fix

fix: update text formatting in AboutPage and ErrorBoundary components
  app/about/page.jsx
  app/layout.jsx
  components/ErrorBoundary.jsx
Due: prettier --write, eslint --fix

fix: update text formatting in AboutPage and ErrorBoundary components
  app/api/device-data/route.js
  app/edge/device-optimize/page.jsx
  app/revalidation/page.jsx
  db/index.ts
  db/schema.ts
  drizzle.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Fix device optimization page: Add purple gradient components and resolve UI issues
  app/edge/device-optimize/page.jsx
  public/favicon.ico
  styles/globals.css
Due: prettier --write, eslint --fix

fix: update text formatting in AboutPage and ErrorBoundary components
  .github/workflows/neon_workflow.yml
  .github/workflows/neon_workflow.yml.bak
  .github/workflows/neon_workflow_clean.yml
Due: none

feat: add comprehensive CI/CD pipeline and branch protection setup
  .github/workflows/ci.yml
  .prettierrc
  README.md
  app/admin/menu/admin.module.css
  app/admin/menu/page.jsx
  app/api/menu/admin/[id]/route.js
  app/api/menu/admin/route.js
  app/api/menu/route.js
  components/Cart.jsx
  components/RamenBuilder.jsx
  components/hooks/useMenuData.js
  components/styles/Cart.module.css
  components/styles/RamenBuilder.module.css
  db/README.md
  db/menuService.ts
  db/schema.ts
  db/seedMenu.ts
  docs/BRANCH-PROTECTION.md
  docs/CI-CD.md
  jest.config.js
  package.json
  public/images/corgi.jpg
  tests/integration/README.md
  tests/integration/components.test.jsx
  tests/integration/e2e.test.js
  tests/integration/menu-api.test.js
  tests/integration/menuService.test.js
  tests/integration/utils.test.js
  utils/getMenuItems.js
Due: prettier --write, eslint --fix

feat: implement unified color token system
  .eslintrc.json
  app/layout.jsx
  color-scheme-edits.patch
  components/ThemeToggle.jsx
  components/styles/main.css
  styles/globals.css
Due: prettier --write, eslint --fix

add tests
  .github/workflows/test.yml
  cucumber.js
  jest.config.js
  jest.setup.js
  package.json
  playwright.config.js
  tests/README.md
  tests/components/RamenBuilder.enhanced.test.jsx
  tests/components/RamenBuilder.test.jsx
  tests/contract/quotes-api.test.js
  tests/e2e/features/ramen-builder.feature
  tests/e2e/pages/ramen-builder.page.js
  tests/e2e/playwright.config.ci.js
  tests/e2e/ramen-builder.spec.js
  tests/e2e/steps/ramen-builder.steps.js
  tests/integration/api.test.js
  tests/integration/db-setup.js
  tests/integration/setup.js
  tests/simple.test.jsx
  tests/unit/baseline.test.js
  tests/unit/hooks.test.js
  tests/unit/utils.test.js
  utils/pricing.js
Due: prettier --write, eslint --fix

✨ Add device-optimize edge function and components from amazon-q branch
  app/edge/device-optimize/layout.jsx
  app/edge/device-optimize/page.jsx
  components/device/DeviceCapabilities.jsx
  components/device/DeviceHero.jsx
  components/device/DeviceOptimizeClient.jsx
  components/device/EdgeRecommendations.jsx
  components/device/LoadingSpinner.jsx
  components/device/StatusIndicator.jsx
  components/device/ToastContainer.jsx
  components/device/ToastNotification.jsx
  components/device/styles/DeviceCapabilities.module.css
  components/device/styles/DeviceOptimize.module.css
  components/device/styles/EdgeRecommendations.module.css
  components/device/styles/StatusIndicator.module.css
  components/device/styles/ToastContainer.module.css
  components/device/styles/ToastNotification.module.css
  netlify/edge-functions/device-optimize.js
Due: prettier --write, eslint --fix

✨ Add Device Optimize to navigation
  components/header.jsx
Due: prettier --write, eslint --fix

🎯 Complete navigation testing implementation
  test-reports/cypress/screenshots/production-comparison.cy.js/should compare headernavigation components -- after each hook.png
  test-reports/cypress/screenshots/production-comparison.cy.js/should compare navigation elements between production and deploy preview -- after each hook.png
  test-reports/cypress/screenshots/production-comparison.cy.js/should test access to Edge Function Demo if available -- after each hook.png
  test-reports/cypress/screenshots/production-comparison.cy.js/should test direct access to edgedevice-optimize -- after each hook.png
  test-reports/cypress/videos/production-comparison.cy.js.mp4
Due: none

🎯 Add comprehensive navigation testing infrastructure
  CYPRESS_SETUP_VERIFICATION.md
  NAVIGATION_TESTING_SUMMARY.md
  cypress.config.js
  cypress/e2e/navigation.cy.js
  cypress/e2e/navigation.feature
  cypress/e2e/navigation/steps.js
  cypress/e2e/production-comparison.cy.js
  cypress/e2e/url-comparison.cy.js
  cypress/support/commands.js
  cypress/support/e2e.js
  scripts/run-navigation-tests.js
  scripts/wait-for-deploy.js
  tests/e2e/features/navigation.feature
  tests/e2e/pages/navigation.page.js
  tests/e2e/steps/navigation.steps.js
Due: prettier --write, eslint --fix

🔧 Complete testing infrastructure transfer
  .github/workflows/test-monitoring.yml
  .github/workflows/test.yml
  cucumber.js
  test-reports/test-report-2025-08-09T15-18-16-783Z.json
  test-reports/test-report-2025-08-09T15-20-13-218Z.json
  test-reports/test-report-2025-08-09T15-23-02-903Z.json
  test-reports/test-report-2025-08-09T15-23-22-721Z.json
  test-reports/test-report-2025-08-09T15-28-23-148Z.json
  test-reports/test-report-2025-08-09T15-29-38-789Z.json
  test-reports/test-report-2025-08-09T15-30-43-972Z.json
  test-reports/test-report-2025-08-09T15-46-45-362Z.json
  test-reports/test-report-2025-08-09T18-49-49-186Z.json
  test-reports/test-report-2025-08-09T18-52-38-774Z.json
  tests/e2e/features/ramen-builder.feature
  tests/e2e/pages/ramen-builder.page.js
  tests/e2e/steps/ramen-builder.steps.js
Due: prettier --write, eslint --fix

🔧 Add enhanced testing infrastructure and scripts
  __mocks__/empty.js
  __mocks__/fileMock.js
  __mocks__/nextFontMock.js
  hooks/useRamenBuilder.js
  jest.config.js
  package-lock.json
  package.json
  scripts/generate-junit.js
  scripts/quality-gate.js
  scripts/test-monitor.js
  scripts/watch-tests.js
  ting-strategy --oneline -10 [201~
Due: prettier --write, eslint --fix

🎯 Add Edge Function navigation links and Amazon Q footer attribution
  components/Footer.jsx
  components/NavWithTheme.jsx
  styles/globals.css
  tests/integration/api.test.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  black: any of: *.py
  isort: any of: *.py
  ruff check --fix: any of: *.py
